@model RedditHypermediaClient.Hypermedia.Siren.Models.Entity

@{
    var entity = Model;
    var actions = entity.Actions;
}

@if (actions != null)
{
    foreach (var action in actions)
    {
        <form class="navbar-form navbar-left" method="@action.Method" action="@action.Href">

            @foreach (var field in action.Fields)
            {
                <div class="form-group">
                    <input type="@field.Type" class="form-control" id="@field.Name" name="@field.Name" value="@field.Value" />
                </div>
            }

            <button type="submit" class="btn btn-default">@action.Title</button>
        </form>
    }
}