@model RedditHypermediaClient.Services.Models.PreRenderNavigationalBar

@{
    var navigationalBar = Model;
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="@navigationalBar.Brand.Href">@navigationalBar.Brand.Text</a>

        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                @foreach (var link in navigationalBar.Links)
                {
                    <li>
                        <a href="@link.Href">@link.Text</a>
                    </li>
                }

            </ul>

            @foreach (var form in navigationalBar.Actions)
            {
                <form class="navbar-form navbar-left" method="@form.Method", action="@form.Action">

                    @foreach (var field in form.Fields)
                    {
                        <div class="form-group">
                            <input type="@field.Type" class="form-control" id="@field.Name" name="@field.Name" value="@field.Value"/>
                        </div>
                    }

                    <button type="@form.Button.Type" class="btn btn-default">@form.Button.Text</button>

                </form>
            }

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/agabani/HypermediaRedditDemo">GitHub</a>
                </li>
                <li>
                    <a data-toggle="modal" data-target="#responseModal">View JSON response</a>
                </li>
            </ul>
        </div>
    </div>
</nav>