@using RedditHypermediaClient.Clients.Siren.Models
@model RedditHypermediaClient.Clients.Siren.Models.Entity

@{
    var entity = Model;

    var subentities = entity?.Entities ?? new List<Entity>();
}

@foreach (var subentity in subentities)
{
    <div style="border-left: 1px lightgrey solid; padding-left: 10px;">
        <h3>@subentity.Title</h3>

        <div class="row">

            <div class="col-md-6">

                <h4>Properties</h4>
                <hr />
                @Html.Partial("_property_default", subentity)
            </div>

            <div class="col-md-6">
                <h4>Class</h4>
                <hr />
                @Html.Partial("_class_default", subentity)
            </div>

            <div class="col-md-6">
                <h4>Links</h4>
                <hr />
                @Html.Partial("_link_default", subentity)
            </div>

            <div class="col-md-6">
                <h4>Actions</h4>
                <hr />
                @Html.Partial("_action_default", subentity)
            </div>

            <div class="col-md-12">
                <h4>Sub Entities</h4>
                <hr />
                @Html.Partial("_subentity_default", subentity)
            </div>

        </div>
    </div>
}