@model RedditHypermediaClient.Hypermedia.Siren.Models.Entity

@{
    var subreddit = Model;

    var title = subreddit.Title;
    var domain = subreddit.Properties["domain"];
    var subscribers = subreddit.Properties["subscribers"];
    var created = subreddit.Properties["created"];
    var description = subreddit.Properties["description"];
}

<div class="row well">
    <h4><a href="@domain">@title</a></h4>
    <small><a href="@domain">@domain</a> @subscribers subscribers</small>
    <p>@description</p>
</div>