@model RedditHypermediaClient.Services.Models.PreRender

@{
    var preRender = Model;
}

@*<div class="row">

    @Html.Partial("__entities")

</div>

@section header
{
    @Html.Partial("_component_navbar", entity)
}

@if (entity.Class.Contains("subreddit"))
{
    @Html.Partial("_entity_subreddit", entity)
}
else if (entity.Class.Contains("post"))
{
    @Html.Partial("_entity_post", entity)
}
else if (entity.Class.Contains("search"))
{
    @Html.Partial("_entity_search", entity)
}


@Html.Partial("_entity_default", entity)


*@

@section header
{
    @Html.Partial("_render_navigational_bar", preRender.PreRenderNavigationalBar)
}

@Html.Partial("_debug_json", preRender.Entity)
